@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --line-border-fill: #9c27b0;
  --line-border-empty: #bdbdbd;
  --component-width: 80vw;
}

.cont{
  flex-direction: column;
  display: flex;
  margin: 0;
}

.cont h1{
  color: black;
  margin: 50px 0 50px;
  text-align: center;
}

.container{
  text-align: center;
  width: 80vw;
  max-width: 1000px;
  height: 700px;
}

.progress-container{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
}

.progress-container:before{
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: 0.4s ease;
}

.progress{
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: var(--pro);
  z-index: -1;
  transform: 0.4s ease;
}

.circle{
  border-radius: 50px;
  height: 70px;
  width: 70px;
  border: 3px solid #b2bec3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: white;
}

.circle.active{
  justify-content: space-between;
  background-color: #9c27b0;
  width: 220px;
  border: none;
}


.icon{
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.icon-text{
  padding-right: 15px;
  font-size: 20px;
  padding-top: 23px;
  color: #fff;
}

.circle.active .icon{
  border: 3px solid #9c27b0;
}


.description-container{
  display: flex;
  flex-direction: column;
  width: var(--component-width);
  margin-top: 50px;
  max-width: 1000px;
}

.description{
  opacity: 0;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 600px;
  transition: opacity 1s;
  text-align: justify;
}

.description.active{
  opacity: 1;
  transition: opacity 1s;
  text-align: justify;
}

@media screen and (max-width: 800px) { /* jeśli szerokość jest większa od 400px  */
  .description{
    margin: 0;
    width: 100%;
    font-size: 15px;
  }

  .container{
    text-align: center;
    display: flex;
    width: 90vw;
    margin: 0;
    padding: 0;
  }

  .circle{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
    background-color: white;
  }

  .description-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 0px;
    width: 100%;
  }


  .progress-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 600px;
    width: 65px;
    position: relative;
    margin-left: 2vw;
  }
  
  .progress-container:before{
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 23px;
    transform: translateY(-50%);
    height: 100%;
    width: 4px;
    z-index: -1;
    transform: 0.4s ease;
  }

  .progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 100%;
    left: 23px;
    height: var(--pro);
    transform: translateY(-100%);
    width: 4px;
    z-index: -1;
    transform: 0.4s ease;
  }

  .icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  .circle.active{
    width: 50px;
    box-shadow: 0 0 4px 1px #9c27b0;
  }
}